
*.meta
*.asset
*.bin
*.stamp
Project_Fence/Library/metadata/90/9078b7128e594410d9b89e5b24cffd01
*.info
Project_Fence/Temp/UnityLockfile
Project_Fence/Library/shadercompiler-UnityShaderCompiler.exe0.log
